<div class="container-fluid">
  <div class="row justify-content-start">
    <div class="col col-md-6 col-xl-4">

      <ul class="list-todos list-group">
        <li
          *ngFor="let item of items; let i = index"
          [ngClass]="{
            'disabled': item.done
          }"
          class="list-todos-item list-group-item list-group-item-action">

          <app-todo
            [item]="item"
            [id]="i"
            (onEdit)="edit(item)"
            (onDelete)="delete($event)"
            [x-large]="item.important">
          </app-todo>

        </li>
      </ul>

    </div>
  </div>
</div>
