<div class="todo row align-items-center">

  <div
    class="col-10"
    [ngSwitch]="item.done">
    <div class="checkbox-done">
      <input
        class="input-done"
        name="done"
        type="checkbox"
        [(ngModel)]="item.done"
        (ngModelChange)="edit()">
      <label class="sr-only sr-only-focusable">Mark as complete</label>
    </div>

    <p class="title" *ngSwitchDefault>{{ item.title }}</p>
    <s class="title text-muted" *ngSwitchCase="true">{{ item.title }}</s>
  </div>

  <div class="col-2 text-right">
    <button
      type="button"
      class="close btn-delete"
      (click)="delete()"
      aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

</div>
