//
// Variables
// --------------------------------------------------
// Override default variable values from main
// bootstrap config here


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-gutter-width-base:         15px;
$grid-gutter-widths: (
  xs: $grid-gutter-width-base,
  sm: $grid-gutter-width-base,
  md: $grid-gutter-width-base,
  lg: $grid-gutter-width-base,
  xl: $grid-gutter-width-base
);



// Colors
//
// Grayscale and brand colors for use across Bootstrap.

$black:                          #000000;
$white:                          #ffffff;

$yellow:                         #fffd00;

$brand-primary:                  $black;
$brand-inverse:                  $yellow;


// Links
//
// Style anchor elements.

$link-color:                     $brand-inverse;


// Jumbotron

$jumbotron-bg:                   lighten($black, 20%);
$jumbotron-color:                $white;


// Close

$close-color:                    $body-color;


// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.

$btn-primary-color:              $black;
$btn-primary-bg:                 $yellow;
$btn-primary-border:             $btn-primary-bg;


// Navbar

$navbar-padding-x:               0;
