<div class="container-fluid">
  <div class="row justify-content-start">
    <div class="col col-md-6 col-xl-4">

      <h2 class="heading">
        Todos
        <small class="text-muted text-todos-length">
          {{ todos.length || 0 }}
        </small>
      </h2>

      <form class="form-todos" autocomplete="off">
        <div class="row">

          <div class="col-12">
            <div class="form-group">
              <input
                type="text"
                name="title"
                class="form-control form-control-title"
                [(ngModel)]="title"
                placeholder="Add todo"
                autofocus
                required>
            </div>
          </div>

          <div class="col-4">

            <button
              (click)="add({ title: title, done: false, important: false })"
              type="button"
              class="btn btn-outline-primary btn-block btn-add text-primary">
              Add
            </button>

          </div>

          <div class="col-8">

            <button
              (click)="add({ title: title, done: false, important: true })"
              type="button"
              class="btn btn-primary btn-block btn-add-important">
              Add as important
            </button>

          </div>

        </div>
      </form>

    </div>
  </div>
</div>

<app-todo-list [items]="todos" (onUpdate)="save(todos)"></app-todo-list>
