.checkbox-done {
  display: inline-block;
  align-items: center;
  flex-direction: row;
  min-height: 38px;
}

.title {
  align-items: center;
  display: inline-block;
  margin-bottom: 0;
  min-height: 38px;
}

.list-todos {
  margin-bottom: 20px;

  > li {
    margin-bottom: 10px;
  }
}

.btn-delete {
  opacity: 0;
  transition: opacity .2s ease-in-out;

  .list-todos-item:hover & {
    opacity: .7;
  }
}
