<form (ngSubmit)="onSubmit(model.query)" #searchForm="ngForm" novalidate>
  <pre>model.query = "{{ model.query }}"</pre>

  <div class="form-group">
    <input type="text"
           class="form-control input-lg"
           [(ngModel)]="model.query"
           ngControl="query"
           #name="ngForm"
           placeholder="Search location"
           required
           autofocus>
  </div>
  <button type="submit"
          class="btn btn-lg btn-default"
          [disabled]="!searchForm.form.valid">
    Submit
  </button>
</form>
