<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid">
    <h1 class="display-3">Welcome to our todo list app</h1>
    <p class="lead">Below you can add and keep a track of tasks you wish to do</p>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-6">

      <h2 class="heading">
        Todos
        <small class="text-muted">{{ todos.length || 0 }}</small>
      </h2>

      <form
        class="form-inline form-todo"
        (ngSubmit)="add(title)"
        autocomplete="off">
        <div class="form-group">
          <input
            type="text"
            name="title"
            class="form-control"
            [(ngModel)]="title"
            placeholder="Add todo"
            autofocus>
        </div>
        <button
          type="submit"
          class="btn btn-primary">
          Add
        </button>
      </form>

      <ul class="list-todos list-unstyled">

        <li *ngFor="let todo of todos; let i = index">

          <div class="row">

            <div class="col-xs-1">
              <div class="checkbox-done">
                <input
                  id="done"
                  name="done"
                  type="checkbox"
                  [(ngModel)]="todo.done">
                <label for="done" class="sr-only sr-only-focusable">Mark as complete</label>
              </div>
            </div>

            <div class="col-xs-8">
              <p class="title" *ngIf="!todo.done">{{ todo.title }}</p>
              <s class="title text-muted" *ngIf="todo.done">{{ todo.title }}</s>
            </div>

            <div class="col-xs-3">
              <button
                class="btn btn-danger btn-delete"
                (click)="delete(i)">
                Delete
              </button>
            </div>

          </div>

        </li>
      </ul>



    </div>
  </div>
</div>

